body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

#dashboard {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#dashboard h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
}

#metrics {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#metrics h2 {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 2em;
}

#metrics p {
    font-size: 1.5em;
    color: #333;
}
